.container {
  width: 900px;
  margin: auto;
  background-color: rgb(247 248 250);
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-fourth {
  flex-basis: 20%;
}

.justify-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.marg-bot20 {
  margin-bottom: 20px;
}

img.screen {
  width: 90%;
}

img.icon {
  width: 20%;
}

.caption-block {
  font-family: Barlow, sans-serif;
}

p {
  font-size: 10px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
}

h4 {
  font-family: Barlow, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 15px;
}
